
<mat-progress-spinner mode="indeterminate" *ngIf="isLoading">
</mat-progress-spinner>

<mat-nav-list>
  <br>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <mat-card-content>
        <p>
         Agregar un estudiante
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['/student', 0]">ADD</a>
      </mat-card-actions>
    </mat-card>
    <br>
  <mat-list-item *ngFor="let student of students">
    <br>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ student.id }}</mat-card-title>
        <mat-card-subtitle>{{ student.firstName }} {{ student.lastName }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ student.firstName }} have {{ student.age }} years old, his user its {{ student.userName }}
          and his career its {{ student.career }}.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['/student', student.id]">EDIT</a>
        <button mat-button (click) = "deleteStudent(student.id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
    <br>
 </mat-list-item>
</mat-nav-list>

