<mat-progress-spinner mode="indeterminate" *ngIf="isLoading">
</mat-progress-spinner>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ student.id }}</mat-card-title>
        <mat-card-subtitle><input id="txtFirstName" value="{{ student.firstName }}" ><input id="txtLastName" value="{{ student.lastName }}"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ student.firstName }} have <input id="txtAge" value="{{ student.age }}"> years old, his user its <input id="txtUserName" value="{{ student.userName }}">
          and his career its <input id="txtCareer" value="{{ student.career }}">.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['/students-list']">BACK</a>
        <button mat-button (click)="saveStudent()">SAVE</button>
      </mat-card-actions>
    </mat-card>
